spring.application.name=pc

# Databases configuration
spring.datasource.url=jdbc:postgresql://localhost:5432/bussiness_management
spring.datasource.username=Nom_database
spring.datasource.password=ur_password